@model ApplicationUser

@{
    ViewData["Title"] = "My Courses";
}

<h1>My Courses</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Enrollments)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrollments)
        {
                <tr>

                    <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                    </td>

                </tr>
        }
    </tbody>
</table>